# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# The tralics executable
src/tralics

# Generated test files/directories
Test/*.log
Test/*.xml
Test/Trace
Test/fileA
Test/fileB
Test/label
